<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".KamperUiInitProvider"
            android:authorities="${applicationId}.kamper_ui_provider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.kamper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kamper_file_paths" />
        </provider>

        <activity
            android:name=".KamperPanelActivity"
            android:exported="false"
            android:theme="@style/Theme.Kamper.Transparent" />

        <receiver
            android:name="com.smellouk.kamper.ui.KamperConfigReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.smellouk.kamper.CONFIGURE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
