<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".KonitorUiInitProvider"
            android:authorities="${applicationId}.konitor_ui_provider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.konitor.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/konitor_file_paths" />
        </provider>

        <activity
            android:name=".KonitorPanelActivity"
            android:exported="false"
            android:theme="@style/Theme.Konitor.Transparent" />

        <receiver
            android:name="com.smellouk.konitor.ui.KonitorConfigReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.smellouk.konitor.CONFIGURE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
